$breakpoint-mobile: 1024px;
$breakpoint-tablet: 1440px;
$breakpoint-desktop: 2048px;

@mixin respond-to($breakpoint) {
        @media (max-width: $breakpoint) {
          @content;
        }
      }
      
.header {
    text-align: center;
    padding-bottom: 1px;
    padding-top: 1px;
    width: auto;
    font-style: white 16px;
    a, u{
        text-decoration: none;
    }
    &__title {
        display: grid;
        align-items: center;

        &__img{

            margin-top: 15px;

        }

        &__margin{
            margin: 25px;
        }
        table{
            border-spacing: 50px 0;
            text-align: center;
        }
        td {
            align-items: baseline;
            position: relative;
            padding: 10px;
            display: inline-flex;
            justify-content: space-between;
        }
    }

    &__ContactUs{
        
        background-color: #4c40f7;
        border-radius: 6px;
        padding: 10px;

    }

    &__info{

        text-align: center;
        display: inline-grid;
        align-items: center;
        text-decoration: none;
        border-style: solid #F3F4F6;
        background-color: #F3F4F6;
        margin: 8px;
        padding: 55px;
        padding-inline: 250px;
        max-width: 85%;
        border-radius: 20px;

        @include respond-to($breakpoint-mobile) {

            padding-inline: 100px;
            max-width: 85%;
            
        }

        &__bold{

            font-weight: bold;

        }

    }
}